@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
:root {
  --primary-color: #d83d7e;
  --darker-primary: #b34271;
  --dark-grey: #20272e;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background: #f4f4f4;
  font-size: 1.1em;
  color: black;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  list-style-type: none;
}

img {
  width: 100%;
}

header,
nav {
  display: flex;
  align-items: center;
}

.container {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding: 2em 1em;
}

.btn {
  background: var(--primary-color);
  padding: 0.5em 2em;
  font-size: 1.1em;
  color: white;
  border-radius: 1em;
  border: none;
}

.btn:hover {
  cursor: pointer;
  background: var(--darker-primary);
}

header {
  position: relative;
  background-color: white;
  box-shadow: -2px -2px 3px 1px rgba(0, 0, 0, 0.3);
  width: 100%;
  padding: 0.8em;
  justify-content: space-between;
  align-items: center;
}

header h1 {
  font-size: 1.2em;
  margin-right: 1em;
}

header h1 span {
  color: var(--primary-color);
}

header .menu {
  height: 25px;
  width: 25px;
}

header .menu:hover {
  cursor: pointer;
}

nav {
  display: none;
}

nav.menu-btn {
  display: block;
}

nav {
  position: fixed;
  background: var(--dark-grey);
  padding: 1em;
  top: 0;
  right: 0;
  width: 60%;
  height: 100vh;
  z-index: 100;
  text-align: right;
}

nav .exit {
  float: right;
  filter: invert(1);
  height: 30px;
  width: 30px;
}

nav .exit:hover {
  cursor: pointer;
}

nav ul li {
  margin-top: 1em;
}

nav ul li a {
  font-size: 1.2rem;
  color: white;
}

nav ul li a:hover {
  border-bottom: 2px solid;
}

nav .main-links {
  margin-top: 5em;
}

.hero .container {
  flex-direction: column;
}

.hero .container .col-a {
  text-align: center;
  margin-bottom: 3em;
}

.hero .container .col-a p {
  color: grey;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1em;
  letter-spacing: 0.3em;
  margin-top: 3em;
}

.hero .container .col-a h2 {
  font-size: 2em;
  margin-top: 0.3em;
  margin-bottom: 0.8em;
}

.hero .container .col-a .btn {
  display: inline-block;
}

.hero .container .col-a .tutorial-cta {
  display: block;
  margin-top: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero .container .col-a .tutorial-cta img {
  height: 25px;
  width: 25px;
  margin-right: 0.5em;
}

.hero .container .col-b img {
  display: block;
  margin: 0 auto;
  width: 80%;
  height: 80%;
  max-width: 300px;
  max-height: 300px;
}

.features {
  background: var(--dark-grey);
  color: white;
}

.features ul {
  padding-left: 1em;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
}

.features ul li {
  position: relative;
  font-size: 1em;
  padding-left: 2em;
  margin-bottom: 1em;
}

.features ul li:before {
  position: absolute;
  left: 0.1em;
  bottom: 0.2em;
  content: "";
  background-image: url("../images/checkmark.svg");
  height: 25px;
  width: 25px;
}

.features ul li:last-child {
  margin-bottom: 0;
}

.features img {
  display: none;
}

.testimonials {
  background-color: var(--primary-color);
  color: white;
}

.testimonials .container {
  flex-direction: column;
}

.testimonials .container:first-child {
  padding-top: 4.5em;
}

.testimonials .container .review {
  position: relative;
  text-align: center;
  padding: 1em;
  background-color: var(--darker-primary);
  border-radius: 1em;
  width: 80%;
  margin: 0 auto 4em;
}

.testimonials .container .review img {
  width: 5em;
  height: 5em;
  border: 5px solid var(--darker-primary);
  border-radius: 50%;
  margin-top: -4.5em;
  object-fit: cover;
}

.testimonials .container .review blockquote {
  margin: 1em;
}

.testimonials .container .review:last-child {
  margin-bottom: 0;
}

.signup .container {
  flex-direction: column;
}

.signup .container form {
  margin-bottom: 5rem;
}

.signup .container form h3 {
  margin-bottom: 0.5em;
  font-size: 1.7rem;
}

.signup .container form label {
  display: block;
  margin-bottom: 0.5em;
}

.signup .container form input[type="text"],
.signup .container form input[type="email"] {
  font-size: 1.2rem;
  border: 1px solid grey;
  background-color: white;
  border-radius: 0.5em;
  margin-bottom: 1em;
  padding: 0.5em;
  width: 100%;
}

.signup .container form input[type="checkbox"] {
  display: inline;
  height: 25px;
  width: 25px;
  margin-right: 1em;
}

.signup .container form .check-container {
  display: flex;
  margin-bottom: 1em;
}

.signup .container iframe {
  width: 80%;
  margin: 0 auto;
  height: 300px;
}

@media only screen and (min-width: 700px) {
  header .menu {
    display: none;
  }
  header nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0;
    position: relative;
    background-color: white;
    height: unset;
    width: 100%;
  }
  header nav .exit {
    display: none;
  }
  header nav ul {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  header nav ul li {
    margin: 0 .7em 0 0;
  }
  header nav ul li:last-child {
    margin: 0;
  }
  header nav ul li a {
    color: black;
    font-size: 1rem;
  }
  header nav .main-links {
    margin: 0;
  }
  header nav .try-free-cta {
    padding: .2em 1em;
    border: 3px solid var(--primary-color);
    border-radius: 5em;
    font-weight: bold;
    color: var(--primary-color);
  }
  header nav .try-free-cta:hover {
    background-color: var(--primary-color);
    color: white;
    border-bottom: 3px solid var(--primary-color);
  }
  .features ul {
    width: 100%;
  }
  .features ul li:last-child {
    margin-bottom: 1em;
  }
  .signup {
    width: 80%;
    margin: 0 auto;
  }
  iframe {
    width: 100%;
  }
}
