// FONT
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
//VARIABLES
:root {
    --primary-color: #d83d7e;
    --darker-primary: #c7447b;
}

// RESET
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// GENERAL STYLES
body {
    font-family: "Poppins", sans-serif;
    font-size: 1.1em;
    color: black;
}

a {
    text-decoration: none;
    color: black;
}

ul {
    list-style-type: none;
}
 img {
    width: 100%;
 }

header, nav {
    display: flex;
    align-items: center;
}

.container {
    // border: 1px solid black;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding: 2em 1em;

}

.btn {
    background: var(--primary-color);
    padding: .5em 2em;
    font-size: 1.1em;
    color: white;
    border-radius: 1em;
    border: none;

    &:hover {
        cursor:pointer;
        background: var(--darker-primary);
    }
}



//MOBILE HEADER
header {
        background-color: white;
        //box-shadow bottom
        width: 100%;
        padding: .8em;
        justify-content: space-between;
        align-items: center;
    
        h1 {
            font-size: 1.2em;
            margin-right: 2em;
    
            span {
                color: var(--primary-color);
            }
        }

        .menu {
            height: 25px;
            width: 25px;

            &:hover {
                cursor: pointer;
            }
        }
    }


    nav {
        display: none;
    }

//HERO SECTION

.hero {
    background-color: #f4f4f4;
    .container {
        flex-direction: column;

        .col-a {
            text-align: center;
            margin-bottom: 3em;
            // border: 1px solid red;

            p {
                color: grey;
                font-weight: bold;
                text-transform: uppercase;
                font-size: 1em;
                letter-spacing: 0.3em;
                margin-top: 3em;
            }

            h2 {
                font-size: 2em;
                margin-top: .3em;
                margin-bottom: .8em;
            }

            .btn {
                display: inline-block;
            }
            .tutorial-cta {
                display: block;
                margin-top: 2em;
                display: flex;
                align-items: center;
                justify-content: center;

                img {
                    height: 25px;
                    width: 25px;
                    margin-right: .5em;
                    
                }
            }

            
        }

        .col-b {

            img {
                display: block;
                margin: 0 auto;
                width: 80%;
                height: 80%;
            }
        }
    }
}

//FEATURES SECTION {
    .features {
        background: #20272E;
        color: white;

        ul {
            padding-left: 1em;
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(19rem, 1fr));

            
            li {
                position: relative;
                font-size: 1em;
                padding-left: 2em;
                margin-bottom: 1em;

                &:before {
                    position: absolute;
                    left: .1em;
                    bottom: .2em;
                    content: "";
                    background-image: url("../images/checkmark.svg");
                    // background-image: url("../images/red-arrow.svg");
                    height: 25px;
                    width: 25px;

                }

                &:last-child {
                    margin-bottom: 0;
                }
            }

        }
        img {
            display: none;
        }
    }
//HEADER
// header {
//     background-color: white;
//     border-bottom: 2px solid black;
//     width: 100%;
//     padding: 1em .75em ;

//     h1 {
//         font-size: 1.2em;
//         margin-right: 2em;

//         span {
//             color: var(--primary-color);
//         }
//     }
    
//     nav {
//         width: 100%;
//         justify-content: space-between;
//         background-color: yellow;

//         ul {
//             display: flex;
//             align-items: center;

//             li {
//                 margin-right: .5em;
//             }
//         }
//     }
// }

